# Enable the subsequent settings only in interactive sessions
case $- in
  *i*) ;;
    *) return;;
esac

FASTFETCH_DIR="$HOME/.config/fastfetch/minimal"

#######################################
# Prompt Config
#######################################
# Minimal prompt: folder name + $ (user) or # (root)
PS1='$(basename "$PWD") $ '

#######################################
# My configs
#######################################

# Start the terminal
fastfetch -c $FASTFETCH_DIR
# Start the terminal end

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
# NVM end

# PNPM
export PNPM_HOME="/home/user/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# PNPM end

## PYENV
export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv virtualenv-init -)"
## PYENV end

## GIT
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gp="git push origin"
## GIT end

## PLUGINS
plugins=(git extract bashmarks)
## PLUGINS end

# ALIAS 
alias py=python3
alias c=clear

# Aliases for my project venv
alias vpy='./.venv/bin/python'
alias vpip='./.venv/bin/pip'
alias vstreamlit='./.venv/bin/streamlit'

# Aliases for sync obsidian vaults
alias osync='git -C ~/Documents/my\ notes add . && git -C ~/Documents/my\ notes commit -m "Sync" && git -C ~/Documents/my\ notes push origin main'
# ALIAS end

export VISUAL=vim
export EDITOR=vim
