# Enable the subsequent settings only in interactive sessions
case $- in
  *i*) ;;
    *) return;;
esac

#######################################
# Oh-my-bash
#######################################
export OSH='/home/user/.oh-my-bash'
OSH_THEME="simple"
OMB_USE_SUDO=true
source "$OSH"/oh-my-bash.sh

#######################################
# My configs
#######################################

# Start the terminal
fortune | cowsay -f fox | lolcat
# Start the terminal end

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
# NVM end

# PNPM
export PNPM_HOME="/home/user/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# PNPM end

## PYENV
export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv virtualenv-init -)"
## PYENV end

## GIT
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gp="git push origin && git push github"
## GIT end

## PLUGINS
plugins=(git extract bashmarks)
## PLUGINS end

# ALIAS 
alias bashconfig="windsurf ~/.bashrc"
alias py=python3
# ALIAS end
