# Custom Prompt
function prompt {
  "PS $($executionContext.SessionState.Path.CurrentLocation) >"
}

# Aliases
Set-Alias -Name gs -Value git status
Set-Alias -Name ga -Value git add
Set-Alias -Name gc -Value git commit -m
Set-Alias -Name gp -Value git push origin
Set-Alias -Name py -Value python
Set-Alias -Name c -Value Clear-Host

# pyenv
$env:PYENV_ROOT = "$env:USERPROFILE\.pyenv\pyenv-win"
$env:PATH = "$env:PYENV_ROOT\bin;$env:PYENV_ROOT\shims;$env:PATH"
pyenv rehash

# Run fastfetch
fastfetch

Set-Alias -Name sync-local -Value "$env:USERPROFILE\configs\config-labs\apply-configs.ps1"
